 body {
    background-color: rgb(205, 236, 240);
 }
 #editor {
        background-color: white;
        height: 200px;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    #toolbar {
        background-color: white;
        margin-left: 2rem;
        margin-right: 2rem;
    }
