
.eddy {
    height: 200px;
    padding: 10px;
    border-radius: 50%;
}
.ban {
    display: flex;
  
    justify-content: space-between;
}
.logo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}