
  body {
  background-color: rgb(255, 249, 247);
  }
  .ban h1 {
    font-size: 6em;
    color: white;
    text-shadow: 2px 2px black;
  }
  .rech {
    background-color: white;
  }
  .box {
    height: 1000px;
  }
  .divers {
    margin-top: 10rem;
  }
  .photo1 {
    height: 15rem;
  }
  .one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
  .txt {
    color: black;
  }
  .eddy {
    margin-bottom: 15px;
  }
