body {
    background-color: coral;
}


.intro {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card {
    max-width: 220px;
    margin: auto;
    border-radius: 12px;
}

.recipe-img {
    height: 110px;
    object-fit: cover;
}


.btn-recipe {
    background-color: rgb(150, 193, 248);
}