body {
    background-color: rgb(216, 237, 222);
}
.banner .recipe-img {
    height: 15rem ;
    width: auto;
    object-fit: cover;
    display: block;
    margin-top: 50px;
}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}