
@font-face {
  font-family: "creamer";
  src: url("/fonts/creamer/Creamer.otf") format("truetype");
}
@font-face {
  font-family: "champ_limo";
  src: url("/fonts/champ_limo/champ_limo.ttf") format("truetype");
}
@font-face {
  font-family: "nexa";
  src: url("/fonts/nexa/Nexa3.ttf") format("truetype");
}


/* body {
 color: white;
  background:
    linear-gradient(
      145deg,
      #0f0f0f 0%,
      #2b2b2b 20%,
      #3d3d3d 40%,
      #1e1e1e 60%,
      #4a4a4a 80%,
      #121212 100%
    );
} */

body {
  background-color: #f4fcf0;
  color: rgb(42, 30, 30);
} 
p {
  color: white;
}
.btn-blue {
    background-color: #0ba3cd;
    color: white;
}
.btn-blue:hover {
  background-color: #0bb5a7;
  color: white;
}
.pseudo {
  font-family: "creamer";
}
.avatar {
  height: 120px;
  border-radius: 50%;
}
h1 {
  font-family: "Lobster";
}
h4{
  font-family: "Lobster";
}
.comments {
  color: white;
}
@media screen and (min-width: 768px) {
  .avatar {
    height: 180px;
  }

}

@media screen and (min-width: 1024px) {
  .avatar {
    height: 220px;
  }
}


