h2 {
    font-family: "Syncopate";
}
.btn-emeraude {
    background-color:#0b8d82;
    color: white;

}
.btn-blue {
    background-color: #0ba3cd;
    color: white;
}
.btn-corail {
    background-color: #f06351;
}
.btn-jaune {
    background-color: rgb(252, 205, 87);
}