.eddy, .logo {
    height: 60px;
}
.navbar {
    height: 80px;
}

.btn-emeraude {
    background-color:#0b8d82;
    color: white;

}
@media screen and (min-width: 768px){
    .eddy, .logo {
        height: 95px;
    }
     .navbar {
        height: 100px;
    }
}
@media screen and (min-width: 1024px){
    .eddy, .logo {
        height: 130px;
    }
     .navbar {
        height: 140px;
    }
}